version: "3.8"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rooflet-ui-app
    restart: always
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: rooflet-ui-nginx
    restart: always
    ports:
      - "7002:80" # HTTP
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network
    depends_on:
      - nextjs

networks:
  app-network:
    driver: bridge

volumes:
  nginx_logs:
